[submodule "src/benchmarks/generic/coremark"]
	path = src/benchmarks/generic/coremark
	url = https://github.com/eembc/coremark.git
[submodule "src/benchmarks/generic/STREAM"]
	path = src/benchmarks/generic/STREAM
	url = https://github.com/jeffhammond/STREAM.git
[submodule "src/benchmarks/generic/HashTableBenchmark"]
	path = src/benchmarks/advanced/HashTableBenchmark
	url = https://github.com/unum-cloud/HashTableBenchmark.git
[submodule "src/benchmarks/generic/SuperPI"]
	path = src/benchmarks/generic/SuperPI
	url = https://github.com/Fibonacci43/SuperPI.git
